html,
body {
    font-family: sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 446px;
    max-width: 1200px;
}
.logo-left {
    float: left;
    width: auto;
}
.language-right {
    width: 20%;
    float: right;
}
.title-center {
    margin-left: 30%;
    margin-right: 20%;
    font-weight: bold;
}
#map {
    width: auto;
    height: 100%;
}
.info {
    float: right;
    width: 192px;
    height: 100%;
}
.bottom_text {
    width: auto;
    float: left;
}
.copyrights {
    width: 192px;
    float: right;
    text-align: center;
}
.header {
    height: 64px;
    overflow: hidden;
    text-align: center;
    color: white;
}
.footer {
    overflow: hidden;
    height: auto;
    color: white;
}
.clear {
    clear: both;
}
.content {
    min-width: 498px;
    min-height: 364px;
    height: 80%;
    overflow: hidden;
}
.social_links {
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    width: 192px;
}
.contacts {
    height: 50%;
}
.sfc_logo {
    margin-top: 20px;
    height: 40%;
}
#sfc {
    display: block;
    margin: auto;
}
img {
    margin: 0;
    padding: 0;
    float: left;
}
#in {
    margin: 0;
    padding: 0;
    float: none;
}
h2,
p {
    margin: 0;
    padding: 0;
    margin-left: 5px;
    text-align: left;
    color: white;
}
select {
    font-family: sans-serif;
    width: 120px;
    float: right;
}
.stars {
    background-image: url(images/hori.png), url(images/stars.png);
    background-repeat: repeat-x, repeat-x repeat-y;
}
.place {
    float: left;
    margin-top: 30px;
}
.space {
    float: right;
    margin-top: 30px;
}
.language {
    color: red;
    cursor: pointer;
}