html,
body {
    font-family: calibri, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    min-height: 800px;
    min-width: 550px;
    max-width: 1400px;
    
    background: url(../images/space.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.logo-left {
    float: left;
    width: auto;
}
.language-right {
    width: 20%;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    text-align: right;
}
.title-center {
    text-align: left;
    font-weight: bold;
}
#map {
    width: auto;
    height: 100%;
}
.info {
    float: right;
    width: 212px;
    height: 100%;
    margin-left: 20px;
}
.bottom_text {
    width: auto;
    float: left;
}
.copyrights {
    width: 192px;
    float: right;
    text-align: right;
}
.header {
    height: 64px;
    overflow: hidden;
    text-align: center;
    color: white;
}
.footer {
    overflow: hidden;
    min-height: 19px;
    margin-right: 10px;
    color: white;
}
.clear {
    clear: both;
}
.content {
    min-width: 498px;
    min-height: 364px;
    height: 88%;
    overflow: hidden;
}
.social_links {
    margin: 10px;
    height: 52px;
    width: 212px;
}
.contacts {
    margin-left: 10px;
    margin-right: 10px;
}
.sfc_logo {
    margin: 10px;
    height: 192px;
}
#sfc {
    display: block;
    margin: auto;
}
img {
    margin: 0;
    padding: 0;
    float: left;
}
h2,
p {
    text-align: center;
    margin: 0;
    padding: 0;
    margin-left: 5px;
    color: white;
}
select {
    font-family: calibri;
    width: 130px;
    float: right;
}
.stars {
    background-image: url(../images/hori.png), url(../images/stars.png);
    background-repeat: repeat-x, repeat-x repeat-y;
}
.language {
    cursor: pointer;
}
.group {
    color: red;
}
.selection {
    width: 180px;
    margin: 20px;
}