html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}
.logo-left {
    float: left;
    width: 30%;
    background: olive;
}
.language-right {
    width: 20%;
    float: right;
    background: gold;
}
.title-center {
    margin-left: 30%;
    margin-right: 20%;
    background: orange;
}
#map {
    width: auto;
    height: 100%;
    background: yellow;
}
.info {
    float: right;
    width: 192px;
    background: white;
    height: 100%;
}
.bottom_text {
    width: 60%;
    float: left;
    background: olive;
}
.copyrights {
    width: 40%;
    margin-left: 60%;
    background: orange;
}
.header {
    height: 10%;
    overflow: hidden;
    background: coral;
}
.footer {
    height: 10%;
    overflow: hidden;
    background: coral;
}
.clear {
    clear: both;
}
.content {
    min-width: 498px;
    height: 80%;
    overflow: hidden;
    background: red;
}
.social_links {
    margin-left: auto;
    margin-right: auto;
    height: 32px;
    width: 192px;
    background: gold;
}
.contacts {
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    height: 50%;
    background: yellow;
}
.sfc_logo {
    height: 40%;
    background: lightgreen;
}
#sfc {
    display: block;
    margin: auto;
}
img {
    margin: 0;
    padding: 0;
    float: left;
}
#in {
    color: red;
}
h2,
p {
    margin: 0;
    padding: 0;
    text-align: left;
}
select {
    width: 120px;
    float: right;
}

.stars {
    background-image: url(http://www.14denoviembre.es/img/hori.png ), url(http://www.14denoviembre.es/img/stars_5.png );
    background-repeat: repeat-x, repeat-x repeat-y;
}
